In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Functions ##

In [ ]:
def triple(x):
    return 3 * x
triple('hello ')

In [ ]:
triple(3)

In [ ]:
num = 4

In [ ]:
triple(num)

### Note About Scopes

In [ ]:
x

In [ ]:
x = 5

In [ ]:
triple(2 * x)

In [ ]:
x

### Type Agnostic

In [ ]:
triple('ha')

In [ ]:
triple(np.arange(4))

### What this function do?

In [ ]:
def percent_of_total(s):
    return np.round(s / sum(s) * 100, 2)

In [ ]:
percent_of_total(make_array(1,1,1,1))

In [ ]:
percent_of_total(make_array(1, 213, 38))

### Multiple Arguments

$ h^2 = x^2 + y^2 \hspace{20 pt} => \hspace{20 pt} h = \sqrt{ x^2 + y^2 } $

In [ ]:
def hypotenuse(x,y):
    hypot_squared = (x ** 2 + y ** 2)
    return hypot_squared ** 0.5

In [ ]:
hypotenuse(9, 12)

In [ ]:
hypotenuse(2, 2)

In [ ]:
hypotenuse(1)

In [ ]:
#write a function called hello2 will do the following
#hello2('A','B')
#output: 'Hello A and B'

## Apply using function

In [ ]:
student = Table().with_columns(
    'Name', make_array('Jim', 'Dwight', 'Michael', 'Creed'),
    'Birth Year', make_array(1985, 1988, 1967, 1904)
)
student

In [ ]:
def greeting(person):
    return 'konichiwa ' + person

In [ ]:
greeting('Pam')

In [ ]:
greeting('Erin')

In [ ]:
student.apply(greeting, 'Name')

In [ ]:
def name_and_age(name, year):
    age = 2022 - year
    return name + ' is ' + str(age) + ' years old'

In [ ]:
staff2 = staff.apply(name_and_age, 'Name','Birth Year')
Table().with_column('name_and_age', staff2)

In [ ]:
name_and_age('Thomas',2006)

## Grouping by One Column: Ice cream Cones

In [ ]:
cones = Table.read_table('../data/cones.csv')

In [ ]:
cones

In [ ]:
pivot_cones = cones.pivot('Color','Flavor', 'Price', np.max)
pivot_cones

In [ ]:
cones.group(['Color','Flavor']).num_rows

In [ ]:
(3.55+5.25)/2

In [ ]:
cones.drop('Color').group('Flavor', np.average)

In [ ]:
# Question: what if you don't drop color, what will happen?
cones.group('Flavor', np.average)

In [ ]:
cones.drop('Color').group('Flavor', min)

## Grouping By One Column: Welcome Survey ##

In [ ]:
survey = Table.read_table('../data/welcome_survey_v2.csv')
survey
# what kind of table is it? a transaction table or aggregated/summary table, what is the unit of analysis?

In [ ]:
survey.group('Year', np.average)

In [ ]:
by_extra = survey.group('Extraversion', np.average)
by_extra

In [ ]:
by_extra.select(0,2,3).plot('Extraversion') # Drop the 'Years average' column

In [ ]:
by_extra.select(0,3).plot('Extraversion')

## Grouping by Two Columns ##

In [ ]:
survey = Table.read_table('../../data/welcome_survey_v3.csv')
survey

In [ ]:
survey.group(['Handedness','Sleep position'])

In [ ]:
#sum(g.column(2))
survey.num_rows

## Pivot Tables

In [ ]:
survey.pivot('Handedness', 'Sleep position')

In [ ]:
survey.pivot( 'Handedness', 'Sleep position', 'Hours of sleep', collect=np.average)

In [ ]:
survey.group('Handedness', np.average)

In [ ]:
sky = Table.read_table('../../data/skyscrapers.csv')
sky

In [ ]:
#For each city, what’s the tallest building for each material?
#For each city, what’s the age difference between the oldest  steel building and the oldest concrete building?

In [ ]:
sky.pivot