In [ ]:
from datascience import *
import numpy as np

## In Class Demo: Table Basics ##

### 0. Array

In [ ]:
a = make_array(1,2,3,4,5)
a

In [ ]:
a.item(1)

In [ ]:
np.arange(1,5)

### 1. Create Table from Manual Input

In [ ]:
t = Table()

In [ ]:
tbl = Table().with_columns('name',make_array('david','olisa','khalyl'),'office-hour',make_array('Monday','Tuesday','Wed'))

In [ ]:
tbl

In [ ]:
tbl.labels

In [ ]:
tbl.num_columns

In [ ]:
tbl.num_rows

In [ ]:
tbl.show(2)

In [ ]:
tbl.take(make_array(0,2))  # which index it starts?

In [ ]:
tbl.select('name')

In [ ]:
tbl.drop('name')

In [ ]:
tbl.relabel('office-hour','OH')

In [ ]:
tbl.sort('name')

In [ ]:
tbl.where('name','david')

In [ ]:
tbl.column('OH')

### 2. Create table from data file

In [ ]:
Table.read_table('nba_salaries.csv')

In [ ]:
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')
nba

In [ ]:
point_guards = nba.where('POSITION', 'PG')

In [ ]:
point_guards

In [ ]:
point_guards.drop('POSITION')

In [ ]:
point_guards

In [ ]:
point_guards = point_guards.drop('POSITION')

In [ ]:
point_guards.sort('SALARY', descending=True).show()

In [ ]:
(((nba.where('POSITION', 'PG')).drop('POSITION')).sort('SALARY', descending=True)).show(15)

In [ ]:
(((nba.where('position', 'PG')).drop('POSITION')).sort('SALARY', descending=True)).show(15)

In [ ]:
nba.drop('POSITION').where('POSITION', 'PG')

In [ ]:
sal=nba.select('SALARY')
salcol=sal.column('SALARY')
print(nba.where('SALARY,max(salcol)))

## Arrays ##

In [ ]:
my_array = make_array(1, 2, 3, 4)

In [ ]:
my_array

In [ ]:
my_array * 2

In [ ]:
my_array ** 2

In [ ]:
my_array + 1

In [ ]:
my_array # array is unchanged, just like when we call show/select/drop on Table

In [ ]:
another = make_array(5, 6, 7, 8)

In [ ]:
my_array + another

In [ ]:
yet_another = make_array(5, 6, 7)

In [ ]:
my_array + yet_another

In [ ]:
str_array = make_array('ha', 'he', 'ho')

In [ ]:
str_array * 4

In [ ]:
str_array

In [ ]:
sum(my_array)

In [ ]:
np.average(my_array)

In [ ]:
len(my_array)

## Columns of Tables are Arrays ##

In [ ]:
warriors = nba.where('TEAM', 'Golden State Warriors')

In [ ]:
warriors

In [ ]:
warriors.select('SALARY')

In [ ]:
warriors.column('SALARY')

In [ ]:
np.average(warriors.column('SALARY'))

In [ ]:
raptors = nba.where('TEAM', 'Toronto Raptors')

In [ ]:
np.average(warriors.column('SALARY')) - np.average(raptors.column('SALARY'))